{% extends 'base.html.twig' %}
{% block title %}Llibres{% endblock %}
{% block body %}
    <h1>Biblioteca personal Luis</h1>
    <h1>{{date}}</h1>
    <p>Pàgina d'inici</p>
    <p>Projecte Symfony 2n DAW</p>
    <p>Curs 20/21</p>
    <ul>
    {% for llibre in llibres %}
        <li>
        <a href="{{path('fitxa_llibre', {'isbn': llibre.isbn})}}">{{llibre.titol}}</a>
        <a href="{{path('editar_llibre', {'isbn': llibre.isbn})}}"><img  style="width: 30px;" src="{{ asset('img/lapiz.png') }}" alt="lapiz"></a>
        </li><br>
    {% endfor %}
    </ul>
{% endblock %}
